# Dépendances
node_modules/

# Sorties de build
dist/
build/
.cache/

# Variables d'environnement
.env
.env.local
.env.*.local

# Fichiers OS
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Déploiement
.vercel
.netlify

# Certificats & clés
*.pem
*.key
*.cert
